/* 공통 */

body {
    background-color: #f0f000;
    font-family: 'Gugi', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #0000f0;
    font-weight: 900;
}


/* login.html && signup.html */

h1 a {
    font-size: 0.5em;
    text-decoration: none;
    color: #f00000;
}

.formContainer {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin: 0 auto;
    border-radius: 20px;
    border: 4px solid #0000f0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    font-family: 'Black Han Sans', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 1em;
}

#submitBtn {
    width: 80%;
    height: 40px;
    margin: 0 10%;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    background-color: #1b85f0;
    color: white;
    font-weight: 700;
}


/* index.html */

@keyframes movingHeader {
    0% {background-color: green; margin-left: 1000px;}
    100% {background-color: greenyellow; margin-left: 0;}
}

header > h1 {
    width: max-content;
    color: #f00000;
    font-size: 3em;
    font-weight: 900;
    animation-name: movingHeader;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@media (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .item {
        width: 90%;
        height: 350px;
        border: 2px #0000f0 solid;
        margin-bottom: 30px;
        background-color: greenyellow;
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .item {
        width: 45%;
        height: 350px;
        border: 2px #0000f0 solid;
        margin-bottom: 30px;
        background-color: greenyellow;
    }
}

@media (min-width: 801px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

    .item {
        width: 22.5%;
        height: 350px;
        border: 2px #0000f0 solid;
        margin-bottom: 30px;
        background-color: greenyellow;
    }
}

nav > a {
    text-decoration: none;
    color: #0000f0;
    font-size: 1.5em;
}

nav > a:hover {
    background-color: #f00000;
}

#banner {
    text-align: center;
    background-color: #f00000;
    color: white;
    margin-bottom: 30px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item > img {
    width: 80%;
    height: 280px;
    margin: 0px;
    margin-top: 35px;
}

.item > p {
    font-size: 1em;
    color: #f00000;
    text-align: center;
    margin: 0px;
}

.rotateItem {
    transition: transform 1s;
}

.bigItem {
    transition: transform 2s;
}

.rotateItem:hover {
    transform: rotate(360deg);
}

.bigItem:hover {
    transform: scale(1.25);
}

.explainContainer {
    margin: 3px 30px;
}
